# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env
.venv/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Chroma DB
chroma_db/

# Logs
*.log